body {
    overflow: hidden;
}

.jumbotron {
    margin-left: 45px;
    margin-right: -15px;
    height: 1px;
}

/*gradient*/

.blue-gradient {
    background: linear-gradient(133deg, #161933, #2b4368) !important;
}

.black-gradient {
    background: linear-gradient(133deg, #000000, #2b2b2b) !important;
}

img.shop-items {
    height: 50px;
    width: 50px;
}